@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Rock+Salt&family=Shizuru&family=Smooch+Sans:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

body {
    background: linear-gradient(#4dccbd, #54494b);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #efb0a1;      
}

/*Styles on details timer and lives*/
.details-container {
  text-align: justify;
  padding: 2rem 0;
  width: max-content;
}
span {
  padding: 0 5rem;
}

/*Welcome and game container*/
.welcome-container,
.game-select-container {
  width: 60%;
  background-color: #54494b;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  display: grid;
  margin-top: 4rem;
}

.game-select-container {
  justify-items: center;
}

#user-name {
  border-radius: 5px;
  font-size: 1.4rem;
  margin: 2rem 0;
}
input {
  text-align: center;
}

*:focus {
  outline: none;
}
label {
  font-size: 2.5rem;
  color: #efb0a1;
}

/*Congratulations and Hard luck containers*/
div#congrats,
div#hard-luck {
  width: 60%;
  background-color: #54494b;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 4rem;
}

/*buttons*/
.global-btn {
  width: auto;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0.5rem;
  background-color: #efb0a1;
  font-size: 1rem;
  color: #54494b;
}

/*headings and paragraphs*/
h1 {
  font-size: 8rem;
}

h2, h4, h5 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.8rem;  
}

p {
  padding-top: 2rem;
  text-align: center;
  font-size: 1.4rem; 
}
/*styles for section created from js cardGenerator()*/
section {
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(4, 8rem);
  grid-gap: 2rem;
  perspective: 500px;
}
/*Styles on cards*/
.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: rgba(0,0,0,0.2) 0px 5px 15px;
}

.back-card, .face-card {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.back-card {
   background-image: url('https://res.cloudinary.com/rockymiss/image/upload/v1646170940/Flip%20the%20Bird/flip-the-bird-card_acwcw6.png');
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
}

.toggle-cards {
  transform: rotateY(190deg);
}

/*style to hide and display game sections*/
.hide {
    display: none;
  }

/*Responsiveness Settings*/

/* for medium screen sizes from 1200px wide and down*/
@media screen and (max-width: 1200px) {
h1  {
    font-size: 6.5rem;
  }
}

  /* for medium screen sizes from 992px wide and down */
@media screen and (max-width: 992px) {
h1  {
    font-size: 5rem;
}

h2, h3, h4 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

p {
  padding-top: 1rem;
  font-size: 1.2rem;
}
}

.welcome-container,
.game-select-container {
  margin-top: 2rem;
}

  /* for medium screen sizes from 768px wide and down */
@media screen and (max-width: 768px) {
h1 {
    font-size: 3.5rem;
} 

p {
 font-size: 1rem;
}

#user-name {
  border-radius: 5px;
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

input {
  text-align: center;
  margin-top: 0;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

section {
  grid-template-columns: repeat(4, 7rem);
  grid-template-rows: repeat(4, 7rem);
  grid-gap: 1rem;
  
}
span {
  text-align: left;
  padding: 0.1;
}
}

  /* for medium screen sizes from 576px wide and down */
@media screen and (max-width: 576px) {
.fas {
  font-size: 1rem;
}

.welcome-container {
  padding: 0 1rem;
  width: 90%;
}

h1 {
  font-size: 2.5rem;
}


section {
  grid-template-columns: repeat(4, 4rem);
  grid-template-rows: repeat(4, 4rem);
  grid-gap: 0.5rem;
  
}

.details-container {
  text-align: center;
  font-size: 0.6rem;
  
}

.global-btn {
  margin: 0.5rem; 
  font-size: 0.8rem;
}

}

/* for medium screen sizes from 320px wide and down galaxy fold!*/
@media screen and (max-width: 320px) {
    
  h1 {
    font-size: 2rem;
  }
  
}

  
  
  
  
  
