@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Rock+Salt&family=Shizuru&family=Smooch+Sans:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

body {
    background: linear-gradient(#4dccbd, #54494b);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;      
}
/*Styles on Name and Game containers*/

.name-container,
.game-select-container {
  width: 60%;
  background-color: #54494b;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  display: grid;
}

.game-select-container {
  justify-items: center;
}

.global-btn {
  width: 20%;
  padding: 0 5rem;
  border-radius: 5px;
  margin: 0.5rem;
  background-color: #efb0a1;
  font-size: 1rem;
  color: #54494b;
}



/*styles for section created from js cardGenerator()*/
section {
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(4, 8rem);
  grid-gap: 2rem;
  perspective: 500px;
}
/*Styles on cards*/
.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: rgba(0,0,0,0.2) 0px 5px 15px;
}

.back-card, .face-card {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.back-card {
   background-image: url('https://res.cloudinary.com/rockymiss/image/upload/v1646170940/Flip%20the%20Bird/flip-the-bird-card_acwcw6.png');
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
}

.toggle-cards {
  transform: rotateY(190deg);
}

/*style to hide and display game sections*/
.hide {
    display: none;
  }



/*Responsiveness Settings*/

/* for medium screen sizes from 1200px wide and down
@media screen and (max-width: 1000px) {
  .{}

  /* for medium screen sizes from 992px wide and down */
/* @media screen and (max-width: 992px) {
  .{} */

  /* for medium screen sizes from 768px wide and down */
/* @media screen and (max-width: 768px) {
  .{} */

  /* for medium screen sizes from 576px wide and down */
/* @media screen and (max-width: 576px) {
  .{} */ 


  
  
  
  
  
