@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Rock+Salt&family=Shizuru&family=Smooch+Sans:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

body {
    background: linear-gradient(#4dccbd, #54494b);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

  .hide {
    display: none;
  }
  
  .back-card {
   background-image: url('https://res.cloudinary.com/rockymiss/image/upload/v1646170940/Flip%20the%20Bird/flip-the-bird-card_acwcw6.png'); 
  }
  
  
  
